@import "colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400&family=Inria+Serif:ital,wght@0,400;0,700;1,400&display=swap');

@import "variables.scss";

.de-AT {
    --primary: var(--blue);
    --primary-transparent: var(--blue-transparent);
    --primary-light: var(--lightblue);
}

body {
    background: #e1e1e1;
}

.uk-card-body {
    background: #fff;
}

.uk-card {
    display: block;
    &:hover {
        text-decoration: none;
    }
    box-shadow: {

    }
}

.single {
    header {
        height: 50px;
    }
}

uk-button-blue {
    background: var(--blue);
    color: #fff;
}


@each $color in $color-slugs {
    .has-#{$color}-background {
        background-color: var(--#{$color});
    }
    .uk-button-#{$color} {
        background-color: var(--#{$color});
        color: #fff;
    }
}


.uk-button-large {
    font-size: 1.25rem;
}


@each $color in $color-slugs {
    .uk-button-#{$color} {
        background-color: var(--#{$color});
        color: var(--#{$color}-contrast);
        color: var(--#{$color}-contrast) !important;
    }

    .uk-section-#{$color} {
        background-color: var(--#{$color});
        
        color: var(--#{$color}-contrast);
    }
    .uk-button-#{$color}:hover {
        background-color: var(--#{$color}-darker);
        color: var(--#{$color}-contrast) !important;
    }
}

.ctx-post-image {
    
    position: relative;
    .title {
        position: absolute;
        top: 10px;
        text-align: right;
        right: -10px;
        left: 50px;
        h2 {
            background: var(--blue-transparent);
            padding: 2px 9px;
            font-weight: bold;
            display: inline-block;
            color: #fff;
            backdrop-filter: blur(5px);
            
        }
        span {
            background: rgba(255,255,255,.7);
            color: #000;
            backdrop-filter: blur(5px);
        }
    }
}

.ctx-post-content {
    padding: 30px;
    background-color: #fff;
    color: #000;
    h5 {
        font-size: $global-large-font-size;
        color: var(--blue);
    }
}

.ctx-post {
    background-color: #fff;
}

.latest-news {
    margin-top: 100px;
}

a:hover {
    text-decoration: none !important;
}

@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

